<a href="https://colab.research.google.com/github/Helgaltrin/Helga-Algoritma-phyton/blob/main/P5senin_HelgaltrinMelaniApaseray_2C1240064.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program HelloWorld
#Mencetak Hello, World! Ke layar

#KAMUS
#belum diperlukan

#ALGORITMA
print("Hello, World!")

Hello, World!

In [ ]:
#Program Test
#Spesifikasi : Menghitung nilai A dan B

#KAMUS
#A : int
#B : int

#ALGORITMA
A=int(input('masukan nilai A='))         #input
B=int(input('masukan nilai B='))

A=A+B                  #proses

print(A)               #output
print(B)

In [ ]:
#Menghitung berapa yang harus dibayar
#KAMUS
#int M
#int H
#int K

#ALGORITMA
M=int(input('masukan nilai m'))      #input
H=int(input('masukan nilai h'))
K=int(input('masukan nilai k'))

m=10
h=15
k=20

total_harga= (M*m) + (H*h) + (K*k)
print("jumlah yang harus dibayar adalah",total_harga,"rupiah")

masukan nilai m12
masukan nilai h13
masukan nilai k15
jumlah yang harus dibayar adalah 615 rupiah

In [ ]:
print(13 + 2) #Hasil Langsung dari penjualan
apel = 7
jeruk = 9
buah = apel + jeruk
print(buah) #Hasil dari Variabel

15
16

In [ ]:
#proses memasukan data ke dalam variabel
nama = "John Doe"
#proses mencetak variabel
print(nama)
#nilai dan tipe data dalam variabel dapat diubah
umur = 20 #nilai awal
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
umur = "dua puluh satu" #nilai setelah diubah
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
umur = 22
hobi = "Berenang"
print("Biodata\n", nama, "\n", umur, "\n", hobi)

In [ ]:
#contoh variabel lainya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye"
panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

In [ ]:
print("Hello, World!") # (1)
print("Ini program", end="") # (2)
print(" pertama saya") # (3)
print("Dengan", "Koma")
# Ini akan menghasilkan luaran "Dengan Koma"
print("Dengan" + " Plus")
# Ini akan menghasilkan luaran "DenganPlus"
# Perhatikan '+' pada print melakukan konkatenasi pada string saja.
variabel = " sebuah nilai"
print(f"Dengan format {variabel}")
# Ini akan menghasilkan luaran "Dengan format sebuah nilai"
# {variabel} akan diubah dengan nilai dari variabel
bersesuaian.
# Ini adalah sebuah komentar.
# Semua yang ada setelah tanda pagar (#) akan diabaikan oleh interpreter.
"""
Selain itu, kita juga bisa membuat komentar multi-baris dengan tiga petik
(""") """

In [ ]:
S = input("Masukkan kalimat: ") #(1)
print("Anda memasuk kan kalimat: " + S) #(2)
N = int(input("Masukkan sebuah angka: ")) # (3)
print("Jika angka Anda ditambah 5, hasilnya: " + str(N + 5)) #(4)

In [ ]:
#tipe data Boolean
print(True)
#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')
#tipe data Integer
print(20)
#tipe data Float
print(3.14)
#tipe data Hexadecimal
print(0x9a) # Perbaikan: menambahkan awalan 0x
#tipe data Complex
print(5j)
#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])
#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))
#tipe data Dictionary
print({"nama":"Budi", 'umur':20})
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data
Dictionary
print(type(biodata)) #fungsi untuk mengecek jenis tipe data. akan tampil
<class 'dict'> yang berarti dict adalah tipe data dictionary

In [ ]:
x = float(5)
print(x)

x = int(5.6)
print(x)

x = str(9)
print(x)

x = set([1, 2, 3])
y = tuple({5, 6, 7})
z = list((‘hello’))
print(x)
print(y)
print(z)

In [ ]:
x = 8
y = 2
result = x + y
print(result)

In [ ]:
# Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9
buah = apel + jeruk # Menjumlahkan jumlah apel dan jeruk
print(f"Jumlah buah: {buah}")
# Pengurangan
hutang = 10000
bayar = 5000
sisa_hutang = hutang - bayar # Menghitung sisa hutang
print(f"Sisa hutang Anda adalah {sisa_hutang}")
# Perkalian
panjang = 15
lebar = 8
luas = panjang * lebar # Menghitung luas persegi panjang
print(f"Luas persegi panjang: {luas}")
# Pembagian
kue = 16
anak = 4
kue_per_anak = kue / anak # Menghitung bagian kue per anak
print(f"Setiap anak akan mendapatkan bagian kue sebanyak {kue_per_anak}")
# Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2 # Menghitung sisa bagi
print(f"Sisa bagi dari bilangan {bilangan1} dan {bilangan2} adalah
{hasil}")
# Pangkat
bilangan3 = 8
bilangan4 = 2
hasil_pangkat = bilangan3 ** bilangan4 # Menghitung hasil pangkat
print(f"Hasil pangkat: {hasil_pangkat}")
# Pembagian Bulat
print(10 // 3)
# 10 dibagi 3 adalah 3.3333. Karena dibulatkan maka akan menghasilkan
nilai 3

In [ ]:
# SAMA DENGAN
print(1 == 1) # Hasilnya akan bernilai True karena satu sama dengan satu
print(1 == 2) # Hasilnya akan bernilai False karena satu tidak sama dengan
dua
# TIDAK SAMA DENGAN
print(2 != 2) # Hasilnya akan bernilai False karena dua seharusnya sama
dengan dua
print(2 != 3) # Hasilnya akan bernilai True karena dua tidak sama dengan
tiga

In [ ]:
# LEBIH BESAR DARI
print(5 > 3) # Hasilnya akan bernilai True karena lima lebih besar dari
tiga
# LEBIH KECIL DARI
print(5 < 3) # Hasilnya akan bernilai False karena lima tidak lebih besar
dari tiga
# LEBIH BESAR DARI SAMA DENGAN
print(5 >= 3) # Hasilnya akan bernilai True karena lima lebih besar dari
sama dengan tiga
# LEBIH KECIL DARI SAMA DENGAN
print(5 <= 3) # Hasilnya akan bernilai False karena lima tidak lebih besar
dari sama dengan tiga

In [ ]:
from re import S
#soal 1
s = float(input("masukan panjang sisi persegi: "))
luas_persegi = s*s
print("jadi luas persegi adalah", luas_persegi)

masukan panjang sisi persegi: 2.5
jadi luas persegi adalah 6.25

In [1]:
#Data Mahasiswa
nama = input("Masukan Nama:")
nim = input("Masukan NIM:")
fakultas = input("Masukan Fakultas:")
jurusan = input("Masukan Jurusan:")
kota_asal = input("Masukan Kota Asal:")
alamat = input("Masukan Alamat:")

#tampilkan data yang dimasukkan
print("\nData Mahasiswa:")
print(f"Nama   : {nama}")
print(f"NIM    : {nim}")
print(f"Fakultas : {fakultas}")
print(f"Jurusan  : {jurusan}")
print(f"Kota Asal : {kota_asal}")
print(f"Alamat    : {alamat}")

Masukan Nama:Helgaltrin Melani Apaseray
Masukan NIM:2C1240064
Masukan Fakultas:SAINS DAN TEKNOLOGI
Masukan Jurusan:AGRIBISNIS
Masukan Kota Asal:PAPUA JAYAPURA
Masukan Alamat:SENTANI, BTN PURWODADI

Data Mahasiswa:
Nama   : Helgaltrin Melani Apaseray
NIM    : 2C1240064
Fakultas : SAINS DAN TEKNOLOGI
Jurusan  : AGRIBISNIS
Kota Asal : PAPUA JAYAPURA
Alamat    : SENTANI, BTN PURWODADI